{
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "linebreak-style": 0,
    "anonymous": "never",
    "named": "always",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ]
  }
}
