<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>404</title>
</head>

<style>
    a:link {
        color: #E0E0E0;
        text-decoration: none;
    }

    a:visited {
        color: #E0E0E0;
        text-decoration: none;
    }

    a:hover {
        color: #BDBDBD;
        text-decoration: none;
    }
</style>

<body style="">
    <div class="uk-position-center" style="height: 100%; width: 100%; background-color: #2196F3;">
        <h1 class="uk-position-center" style="font-size: 10rem; font-family: 'Encode Sans Condensed', sans-serif;color: white;">404</h1>
        <h5 class="uk-position-bottom-center uk-margin-large-bottom" style="font-size: 2.5rem; font-family: 'Roboto', sans-serif;        color: white;">Go
            <a href="/">back</a>></h5>
    </div>
</body>

</html>