<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:900" rel="stylesheet">
    <title>404</title>
</head>

<body style="">
    <div class="uk-position-center" style="height: 100%; width: 100%; background-color: #2196F3;">
        <h1 class="uk-position-center" style="font-size: 10rem; font-family: 'Encode Sans Condensed', sans-serif;color: white;">404</h1>
    </div>
</body>

</html>