<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coub2Gether!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/index-style.css">
</head>

<body>
    <section class="hero land is-fullheight ">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Coub2Gether</h1>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered generate-button">
                <a class="button is-primary is-rounded is-large generate-a">Create room</a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="container  section-title">
                <i class="fas fa-code"></i> with
                <i class="fas fa-heart"></i> from
                <a href="https://github.com/sikrit">Sikrit</a>
            </h2>
            <div class="">
                <i class="fas fa-bug"></i>
                <i class="fas fa-bug"></i>
                <i class="fas fa-bug"></i>
                <i class="fas fa-bug"></i>
            </div>

        </div>
        </div>
</body>
<script>
    function getRandomRoom() {
        return Math.random()
            .toString(36)
            .substring(9);
    }
    $(document).ready(() => {
        $('.generate-a').click(() => {
            $('.generate-a').addClass('scale-transition scale-out');
            window.open('/room/' + getRandomRoom(), '_self');
        })
    });
</script>

</html>