body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--siimple-blue);
}

a {
  color: #00B7FF;
}
#history{
  height: 550px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#chat{
}
.fixed-content {
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  max-height: 420px;
  }
